body {
  background-image: url('assets/background.png');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* p {
  font-size: large;
} */

button {
  border-radius: 4px;
  height: 45px;
  margin-bottom: 20px;
  gap: 10px;
}

.winp {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  margin-top: 425px;
  margin-left: 655px;
}

.scop {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  margin-left: 655px;
}


.winp, .scop, .winner-options, .score-option {
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 20px;
  width: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

.back {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: red;
  color: white;
}

.Main {
  color: White;
}

.dis {
  color: white;
}

.prediction {
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.team-logos {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.team-logos .team-logo {
  width: 30%;
  text-align: center;
}

.team-logos img {
  width: 100%;
  max-width: 150px;
  margin-top: 10px;
}

.team1, .team2, .winner {
  color: white;
}

.prediction-container {
  background-color: rgba(176, 173, 173, 0.832);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgb(243, 237, 237);
  color: white;
}

.team-logo img, .winner-logo img {
  width: 100%;
  max-width: 150px;
  border-radius: 10px;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f9f9f9;
  color: #333;
}
.app {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
/* .navbar {
  background-color: #007bff;
  padding: 1rem;
  color: white;
  text-align: center;
  font-size: 1.2rem;
} */

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}

.navbar a:hover {
  text-decoration: underline;
}


.landing-content {
  margin: auto;
  max-width: 1000px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 0.2rem;
  margin-top: 0rem;
}

.title {
  font-size: 2.5rem;
  color: #007bff;
  text-align: center;
  margin-bottom:0.5rem; 
}

.subtitle {
  font-size: 1.2rem;
  text-align: center;
 margin-bottom: 1rem;
}

.features-heading,
.how-it-works-heading,
.why-choose-us-heading,
.start-exploring-heading{
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 0.5rem; 
}

.features-list li,
.why-choose-us-list li {
  margin-bottom: 0.5rem;
}

 .footer {
  position: fixed;
  height:3rem;
  bottom: 0;
  width: 200%;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border-top: 1px solid #dee2e6;
  font-size: 10px;
  color: #6c757d;
}


.login{
  background-color: rgba(255, 255, 255, 0.8);
}