body{
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/05834e80113099.6210bd8ad5bf7.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
p{
    font-size: large;
}
button{
    /* background-color: greenyellow; */
    border-radius: 4px;
    height: 45px;
    margin-bottom: 20px;
    gap: 10px;
  }
  .winp{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    margin-top: 425px;
    margin-left: 655px;
  }
  .scop{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    margin-left: 655px;
  }
  button {
    margin-left: 10px;
  }
  
  .winp, .scop, .winner-options, .score-option{
    /* height: 80px; */
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 20px;
    width: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius:20px ;
}


.back{
  margin: 0 auto;
  margin-bottom: 20px;
  width: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius:20px ;
  background-color: red;
  color: white;
} 
.Main{
    
    color: White;
}  

.dis{
  color: white;
}