.scrollable-container {
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 1000px;
  height: 90%;
  overflow-y: auto;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.title {
  font-size: 2.5em;
  color: #1e88e5;
  font-weight: bold;
}
.subtitle {
  font-size: 1.2em;
  color: #555;
}

/* Features Container */
.features-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.feature-card {
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  width: 45%;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.feature-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.feature-card h3 {
  font-size: 1.2em;
  color: #1e88e5;
}
.feature-card p {
  font-size: 1em;
  color: #555;
}

/* Footer */
.footer {
  background: #1e88e5;
  color: white;
  font-size: 0.9em;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.footer,
.social-contact-section {
  padding: 10px;
  border-radius: 8px;
  justify-content: flex-end;
}

/* Apply a frosted glass-like effect using backdrop-filter */
.blurred-background {
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
  backdrop-filter: blur(8px); /* Apply Gaussian blur */
  -webkit-backdrop-filter: blur(8px); /* Safari compatibility */
  border-radius: 8px; /* Optional: Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional: Add depth */
}

/* Style for social links */
.social-link {
  margin: 0 8px;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-link:hover {
  color: #00aced; /* Example hover color for Instagram-like effect */
}


@media (min-width: 768px) {
  .scrollable-container {
    overflow-y: visible;
    height: auto;
  }
}