.scrollable-container {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 80%;
  overflow-y: auto;
}
  @media (min-width: 768px) {
    .scrollable-container {
      overflow-y: visible;
      height: auto;
    }
  }